# Default: keep text files in repo as LF
* text=auto eol=lf

# Let VS-owned files stay CRLF (VS will rewrite them anyway)
*.sln      text eol=crlf
*.vcxproj  text eol=crlf
*.filters  text eol=crlf
*.user     text eol=crlf
